---
title: "Chapter 50: Residency Requirements"
chapter: 50
name: "Residency Requirements"
source: "Village of Croton-on-Hudson Village Code (ecode360.com/CR0035)"
downloaded: "2026-05-15"
sections: 0
---

ARTICLE I                                              ARTICLE II
                     Residency Within State                                Residency Within County

     § 50-1.              Certain Village officers.              § 50-2.       Certain Boards, Commissions
                                                                               and Village officers.


     [HISTORY: Adopted by the Board of Trustees of the Village of Croton-on-Hudson as indicated in
     article histories. Amendments noted where applicable.]


                                                       ARTICLE I
                                                  Residency Within State
                                           [Adopted 6-13-1983 by L.L. No. 2-1983]

     § 50-1. Certain Village officers. [Amended 5-15-1989 by L.L. No. 4-1989; 6-15-1992 by L.L. No.
     4-1992; 4-6-1998 by L.L. No. 2-1998; 5-3-2004 by L.L. No. 5-2004; 6-1-2004 by L.L. No. 6-2004]

     Pursuant to § 3-300, Subdivision 2, of the Village Law, it is hereby provided that the following officers of
     the Village of Croton-on-Hudson need not reside within the Village but may reside within the State of New
     York:

     A.    Village Manager.

     B.    Village Clerk.

     C.    Village Treasurer/Deputy Clerk.

     D.    Deputy Village Clerk.

     E.    Assistant Court Clerk.

     F.    Deputy Village Treasurer.

     G.    Registrar of Vital Statistics.

     H.    Court Clerk.


                                                        ARTICLE II
                                                  Residency Within County
                                            [Adopted 6-13-1983 by L.L. No. 3-1983]

     § 50-2. Certain Boards, Commissions and Village officers. [Amended 12-2-1985 by L.L. No.
     10-1985; 2-18-1986 by L.L. No. 1-1986]

     Pursuant to § 3-300, Subdivision 2, of the Village Law, it is hereby provided that the following officers of
     the Village of Croton-on-Hudson need not reside within the Village but may reside within the County of
     Westchester:

     A.    One member of the Visual Environment Board.14

     B.    Village Historian. [Added 6-21-2010 by L.L. No. 1-2010]


     14. Editor's Note: See also Ch. 60, Visual Environment Advisory Board.


     § 50-2                                     RESIDENCY REQUIREMENTS


                                                     CROTON-ON-HUDSON CODE
